/TestFruta.class
/TestJugador.class
/TestLaberinto.class
/TestNivel.class
/TestPunto.class
/TestPuntoPoder.class
/TestVacio.class
/testBlinky.class
/testBloque.class
/testClyde.class
/testFantasma.class
/testInky.class
/testJuego.class
/testPacman.class
/testPersonaje.class
/testPinky.class
/testPoint.class
/testTransportador.class
